# don't track the installer binaries and expanded dir
ansible-automation-platform-setup-*.tar.gz
ansible-automation-platform-setup-*/

# don't track the environment variables file (e.g. red hat subscription creds)
.env

# don't track temporary ansible files
.ansible
